body{
    background-color: ghostwhite;
}

.tool-section{
    padding-top: 20px;
    height: 80px;
}

.tool-section > div:first-child{
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: gainsboro;
}

.tool-section > div:nth-child(1) > span{
    margin-right: 10px;
}

.tool-section > div:nth-child(1) > input{
    margin-right: 20px;
}

.tool-section > div:nth-child(3) > input{
    width: 60px;
}

.tool-section > div:nth-child(3) *{
    float: right;
    margin-left: 10px;
}

/* Stuff after the tools section */

.container-fluid > .row:nth-child(2){
    margin-top: 10px;
    height: calc(100vh - 10px - 80px);
}

.canvas{
    border-style: dashed;
    border-color: gainsboro;
    border-width: 2px;
    background-color:#fefefe;
    width: 600px;
    height: 600px;
    display: block;
    position: relative;
}

.canvas-box{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 20%;
    height: 20%;
    visibility: hidden;
    display: inline-block;
}

.sections-list{
    /*border-radius: 10px;*/
}

.sections-list-item{
    background-color:#f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
}

.sli-num{
    display: inline-block;
    margin-right: 20px;
}

.sli-colbox{
    width: 20px;
    height: 20px;
    background-color: red;
    display: inline-block;
    margin-right: 20px;
}

.sli-coord{
    display: inline-block;
}

.sli-vis{
    display: inline;
    width: 100%;
}

.sli-vis > span{
    float: right;
}

.slivf{
    width: 70px;
}